body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.scroll-box {
    width: 50vw;
    height: 30vh;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}

.index {
    width: 40px;
    text-align: center;
}

.content {
    flex-grow: 1;
    margin-left: 10px;
}

.container {
  font-family: Arial, sans-serif;
  /*background-color: #121212;*/
  color: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.collapsible {
  width: 100%;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  text-align: left;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #1e1e1e;
  transition: background-color 0.3s ease;
}

.collapsible.active {
  background-color: #333333;
}

.content-menu {
  padding: 0 15px;
  background-color: #1e1e1e;
  margin-top: 5px;
  border-radius: 5px;
}

.task-list-menu {
  list-style: none;
  padding: 10px 0;
  margin: 0;
    max-height: 200px;
  overflow-y: auto;
}

.task-list-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-list-menu li:hover {
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
}